table {
border: 2px solid;
border-color: navy blue;
border-collapse:collapse;
width: auto;
height: auto;
font-family: helvetica;
}
th {
  border-bottom: 3px solid black;
}
td{
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}
td.header{
  color:blue;
  font-weight: bold;
  text-align: center;
  }
  body{
    background-color: lightgray;
  }
  #table-one{
    margin-bottom: 20px;
    width: 100%;
  }
h1{
  text-align: center;
}


